<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electric Vehicle Data Visualizations</title>
    <!-- Include Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v4.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="static/css/style.css"> -->
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12 p-5 text-center bg-light">
                <h1>Electric Vehicle charts</h1>
                <p>Use the interactive dropdown menu below to explore the models ranges based on the brand</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="card card-body bg-light">
                    <h5 style="text-align: center; font-weight:bold; font-size: large;">Select a Car Brand:</h5>
                    <select style="text-align: center;" id="selDataset" onchange="optionChanged(this.value)"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="bar3"></div>
                </div>
            </div>
            <div class="col-md-5">
                <div id="bar1"></div>
            </div>
            <div class="col-md-5">
                <div id="bar2"></div>
            </div>
        </div>

    </div>

    <!-- Include JavaScript file -->
    <script src="{{ url_for('static', filename='/js/plot.js') }}"></script>
    <!-- <script src="static/js/plot.js"></script> -->

</body>


</html>