<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electric Vehicle Data Visualizations</title>
    <!-- Include Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v4.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="static/css/style.css"> -->
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12 p-5 text-center bg-light">
                <h1>Electric Vehicle charts</h1>
                <p>Use the interactive charts below to explore the dataset</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="card card-body bg-light">
                    <h5>Select a Brand:</h5>
                    <select id="selDataset" onchange="optionChanged(this.value)"></select>
                </div>
                <!-- <div class="card card-primary">
                    <div class="card-header">
                        <h4 class="card-title">Demographic Info</h4>
                    </div>
                    <div id="sample-metadata" class="card-body"></div>
                </div> -->
            </div>
            <div class="col-md-5">
                <div id="bar"></div>
            </div>
            <div class="col-md-5">
                <div id="gauge"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="bubble"></div>
            </div>
        </div>
    </div>
    <!-- <div id="battery-efficiency-chart"></div>
    <div id="brand-comparison-chart"></div>
    <div id="average-range-chart"></div> -->

    <!-- Include JavaScript file -->
    <script src="{{ url_for('static', filename='/js/plot.js') }}"></script>

    <!-- <script src="static/js/plot.js"></script> -->
</body>


</html>